 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 891px;
}

.u-section-1 .u-image-1 {
  width: 715px;
  height: 669px;
  object-position: 23.33% 41.98%;
  background-position: 100% 41.98%;
  margin: 0 auto 0 46px;
}

.u-section-1 .u-group-1 {
  width: 433px;
  min-height: 333px;
  background-image: none;
  margin: -239px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  margin: 10px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 545px;
  margin: -638px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 706px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-1 .u-image-1 {
    width: 731px;
    height: 632px;
  }

  .u-section-1 .u-group-1 {
    width: 414px;
    min-height: 385px;
    margin-top: -80px;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
    margin-top: -637px;
    margin-bottom: -331px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 737px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 622px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 526px;
    min-height: 294px;
    margin-top: -86px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1543px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 467px;
  }

  .u-section-1 .u-group-1 {
    width: 453px;
    min-height: 302px;
    margin-top: -67px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 136px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 44px;
    margin-bottom: -469px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1937px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 294px;
  }

  .u-section-1 .u-group-1 {
    min-height: 269px;
    width: 279px;
    margin-top: -44px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 41px;
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1322px;
  }
}