 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/WhatsAppImage2021-12-01at2.45.44PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 503px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 4.375rem;
  font-weight: 700;
  margin: 102px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 357px;
  margin: -4px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 963px;
    margin-left: 246px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1031px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 1192px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -962px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 1172px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -928px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1197px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -953px;
  }
} .u-section-2 {
  min-height: 779px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 177px auto 39px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -15px 0 0;
}

.u-section-2 .u-image-1 {
  width: 477px;
  height: 477px;
  margin: 51px 39px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 600;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 667px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 529px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-image-1 {
    width: 457px;
    height: 457px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 543px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 336px;
    height: 336px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 790px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 586px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }
} .u-section-3 {
  min-height: 173px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 115px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-3 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 57px 0 80px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: -4px -8px 0 80px;
}

.u-section-3 .u-icon-1 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: -60px auto 0 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 57px 0 80px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: -4px -8px 0 80px;
}

.u-section-3 .u-icon-2 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: -60px auto 0 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 2px 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 57px 0 80px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: -4px -8px 0 80px;
}

.u-section-3 .u-icon-3 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: -60px auto 0 20px;
}

.u-section-3 .u-container-layout-4 {
  padding: 2px 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 57px 0 80px;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: -4px -8px 0 80px;
}

.u-section-3 .u-icon-4 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: -60px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 95px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -6px;
    margin-left: 0;
    margin-right: 0;
    width: 181px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -108px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -62px;
    margin-left: 0;
    margin-right: 0;
    width: 181px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: -62px;
    margin-left: 0;
    margin-right: 0;
    width: 181px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: -62px;
    margin-left: 0;
    margin-right: 0;
    width: 181px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 291px;
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -31px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 83px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -133px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -6px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 58px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -108px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    margin-top: -31px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 91px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -141px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 860px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 251px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  min-height: 251px;
  background-image: url("images/brain-2062057_640.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 499px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 34px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 499px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  width: 99px;
  height: 34px;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-4 .u-image-2 {
  min-height: 251px;
  background-image: url("images/artificial-intelligence-3685928_1280.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 251px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-4 .u-image-1 {
    min-height: 207px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 411px;
  }

  .u-section-4 .u-image-2 {
    min-height: 207px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-4 .u-image-1 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 317px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 476px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 476px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 476px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-4 .u-image-1 {
    min-height: 300px;
  }

  .u-section-4 .u-image-2 {
    min-height: 300px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 300px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 765px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-slider-1 {
  width: 875px;
  min-height: 527px;
  height: auto;
  margin: 20px auto 60px 124px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 25px 56px;
}

.u-section-5 .u-image-1 {
  height: 309px;
  width: 760px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 217px;
}

.u-section-5 .u-text-3 {
  margin: 20px 8px 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-container-layout-2 {
  padding: 25px 56px;
}

.u-section-5 .u-image-2 {
  height: 309px;
  width: 760px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 8px 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    margin-left: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-5 .u-slider-1 {
    width: 720px;
    min-height: 486px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    height: 268px;
    width: 660px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 197px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: -20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-2 {
    height: 268px;
    width: 660px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 197px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: -20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-5 .u-slider-1 {
    width: 540px;
    min-height: 429px;
  }

  .u-section-5 .u-image-1 {
    height: 211px;
    width: 520px;
    margin-left: -40px;
    margin-right: -40px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 131px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: -40px;
  }

  .u-section-5 .u-image-2 {
    height: 211px;
    width: 520px;
    margin-left: -40px;
    margin-right: -40px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 131px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: -40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 348px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    height: 190px;
    width: 320px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 65px;
  }

  .u-section-5 .u-image-2 {
    height: 190px;
    width: 320px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 65px;
  }
}